<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.codepresso.sns.mapper.PostTagMapper">
    <insert id="createTag">
        insert into tag(tagName)
        values(#{tag});
    </insert>
    <select id="getNewOne" resultType="com.codepresso.sns.vo.Tag">
        select *
        from tag
        order by tagId limit 1
    </select>
</mapper>