<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.codepresso.sns.mapper.PostLikeMapper">
    <insert id="createLike">
        insert into postLike(postId, userId)
        values(#{postId}, #{userId});
    </insert>
    <select id="checkpost" resultType="Integer">
        select count(*)
        from postLike
        where postLike.postId=#{postId}
    </select>
    <select id="checklike" resultType="Integer">
        select count(*)
        from postLike
        where postLike.postId=#{postId} and postLike.userId=#{userId}
    </select>
    <update id="increaseLike">
        update post
        set likeCount=likeCount+1
        where postId=#{postId}
    </update>
    <delete id="deleteLike">
        delete from postLike
        where postId=#{postId} and userId=#{userId}
    </delete>
    <update id="decreaseLike">
        update post
        set likeCount=likeCount-1
        where postId=#{postId}
    </update>
</mapper>