<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.codepresso.sns.mapper.UserFollowMapper">
    <insert id="createFollow">
        insert into userFollow (followerId, followingId)
        values(#{followerId}, #{followingId})
    </insert>
    <delete id="deleteFollow">
        delete from userFollow
        where followerId=#{followerId} and followingId=#{followingId}
    </delete>
    <select id="getmyfollowing" resultType="com.codepresso.sns.controller.dto.UserFollowRespondDto">
        select userFollow.followingId, user.userName, user.occupation
        from userFollow inner join user on userFollow.followingId=user.userId
        where userFollow.followerId=#{userId}
    </select>
    <select id="getmyfollower" resultType="com.codepresso.sns.controller.dto.UserFollowRespondDto">
        select userFollow.followerId, user.userName, user.occupation
        from userFollow inner join user on userFollow.followerId=user.userId
        where userFollow.followingId=#{userId}
    </select>

</mapper>